body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    background: #3f4e97;
}

h2 {
    color: #889dff;
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
}

a {
    font-size: 12px;
}

label {
    font-size: 13px;
}

#home-wrapper {
    padding: 10px 0 50px 0;
    min-height: 72px;
}

#home-header {
    text-align: center;
    animation: fadein 3s;
    display: none;
}

#home-title {
    color: #f6f6f6;
    letter-spacing: 1px;
}

.inner-wrapper {
    display: none;
    position: relative;
    padding: 32px 45px 53px 45px;
    margin-bottom: 50px;
    animation: fadein 1s;
    transition: margin 500ms;
}

.input-container {
    margin: 10px;
}

#link-wrapper {
    position: absolute;
    width: 253px;
    bottom: 24px;
    left: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 20px 0 -12px 0;
}

.error {
    display: none;
    font-size: 11px;
    margin-left: 10px;
    margin-top: -6px;
}

#email-sent, #success {
    display: none;
    text-align: center;
    min-width: 185px;
    color: #55e955;
}

#submit, #change-password {
    border: 1.2px #6c81e6 solid;
    padding: 7px 14px;
    margin: 16px auto 0 auto;
    display: block;
}

#submit:hover, #change-password:hover {
    background: #38458369;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-height: 460px) {
    #home-wrapper {
        display: none ;
    }

    .inner-wrapper {
        margin-bottom: 0;
    }
}
