body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    background: #3f4e97;
}

h2 {
    color: #889dff;
    text-align: center;
    font-size: 19px;
    margin-bottom: 12px;
}

label {
    display: block;
}

#home-wrapper {
    padding: 10px 0 50px 0;
    min-height: 72px;
}

#home-header {
    text-align: center;
    animation: fadein 3s;
    display: none;
}

#home-title {
    color: #f6f6f6;
    letter-spacing: 1px;
}

.inner-wrapper {
    padding: 20px;
    display: none;
    animation: fadein 1s;
    margin-bottom: 50px;
    transition: margin 1700ms;
}

#input-wrapper {
    display: -ms-flexbox;
    display: flex;
}

.input-container {
    margin: 10px;
}

#register {
    margin: 12px auto 0 auto;
    display: block;
}

.error {
    display: none;
    font-size: 11px;
    margin-left: 10px;
    margin-top: -6px;
    max-width: 168px;
}

#section-1, #section-2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-width: 420px) {
    #input-wrapper {
        display: block;
    }
}

@media only screen and (max-height: 505px) {
    #home-wrapper {
        display: none ;
    }

    .inner-wrapper {
        margin-bottom: 0;
    }
}

