@font-face {
    font-family: VT323;
    src: url(/templates/assets/fonts/VT323-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* SIDE BAR */
.business-name {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    color: #eaeaea;
}

.business-name.active {
    background: #6577cf;
}

.create-transaction-button {
    padding: 4px 0 4px 0;
    color: #ffffff;
    text-align: center;
    background: #368d5a;
    cursor: pointer;
}

.create-transaction-button svg {
    font-size: 14px;
}
/* SIDE BAR */


/*OPERATION OVERLAY*/
.name-description {
    font-size: 13px;
    color: #adbbff;
}
/*OPERATION OVERLAY*/


/* EMPTY USERS */
#empty-transaction-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#empty-transaction-icon {
    font-size: 260px;
    padding: 20px;
    color: #6c7fdb;
}

#empty-container {
    text-align: center;
    margin-left: 20px;
}

.get-started-text {
    margin: 35px 0 10px 0;
    text-align: center;
}

#empty-container a {
    display: block;
    margin: 4px 0;
}

#operation-link-column-wrapper {
    text-align: center;
}
/* EMPTY USERS */

/* TRANSACTION TABLE */
#transaction-wrapper {
    display: none;
}

#transaction-wrapper.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings-wrapper {
    display: none;
}

#settings-wrapper.active {
    display: flex;
    flex-direction: column;
}

#table-scroll-wrapper, #settings-scroll-wrapper {
    overflow-y: auto;
    width: 100%;
    margin-bottom: 10px;
}

.minus-sign {
    font-size: 8px;
    color: red;
    padding-right: 2px;
}

table.table-container {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    background-color: #393939;
    margin: 0 auto;
    min-width: 788px;
}

table.table-container thead {
    font-family: Lato-Bold;
    font-size: 15px;
    color: #00ad5f;
    line-height: 1.4;
    background-color: #2d2c2c;
}

table.table-container tbody {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #a5a5a5;
    line-height: 1.4;
    background-color: #151515;
}

table.table-container tbody td {
    display: table-cell;
    padding: 8px;
}

.number-column {
    text-align: center;
}

#time-range {
    color: #97a8ff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

#total-wrapper, #save-wrapper {
    display: flex;
    width: 100%;
    height: 70px;
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    justify-content: space-around;
    margin-top: auto;
    align-items: center;
    border-top: #494949 solid 1px;
}

#save-wrapper {
    position: relative;
    border-top: #a5aea9 solid 1px;
}
/* TRANSACTION TABLE */

/* SETTINGS */
.settings-title {
    text-align: center;
    font-size: 20px;
}

.settings-description {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    margin: 5px 0 10px;
}

#settings-date-range-wrapper {
    text-align: center;
}

#settings-filter-wrapper {
    display: flex;
    justify-content: center;
}

#tax-wrapper {
    text-align: center;
}

.business-tax {
    width: 44px;
    padding-right: 0;
    min-height: 30px;
    font-size: 16px;
    line-height: 30px;
}

#transaction-filter-wrapper {
    margin: 20px;
}

#start-date-wrapper {
    margin-bottom: 20px;
}

#receipt-settings-result {
    position: absolute;
    left: 46%;
    top: -2px;
    font-size: 11px;
}

#settings-result {
    font-size: 11px;
    position: absolute;
    top: 3px;
}

.success {
    color: #4dff4d;
}

.denied {
    color: #ff655d;
}
/* SETTINGS */

/* RECEIPT */
#receipt-wrapper.active {
    display: flex;
}

#receipt-preview-wrapper, #receipt-settings-wrapper {
    min-width: 200px;
    margin-bottom: 15px;
}

#receipt-settings-wrapper {
    border: 1px solid #4a4a4b;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 462px;
}

#receipt-preview-wrapper {
    width: 100%;
}

.receipt-scroll-wrapper {
    overflow-y: auto;
}

.receipt-super-title{
    font-size: 28px;
    margin: 10px 0;
    text-align: center;
}

.printer-address {
    width: 30px;
    text-align: center;
    height: 25px;
}

.period {
    margin-left: 4px;
    font-size: 20px;
    line-height: 15px;
}

.receipt-settings-title {
    font-size: 20px;
    margin: 6px 0;
}

.receipt-input-container:not(:last-child) {
    padding-right: 25px;
}

.receipt-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #353535;
    padding: 13px;
    position: relative;
    white-space: nowrap;
}

#add-header-button, #add-footer-button {
    background: green;
    width: 80px;
    border-radius: 1px;
    text-align: center;
    padding: 5px 5px;
    cursor: pointer;
    margin: 10px auto;
}

#add-header-button:hover, #add-footer-button:hover {
    filter: brightness(115%);
}

.receipt-text-input {
    height: 29px;
    width: 200px;
}

.delete-line-item {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px 10px;
    cursor: pointer;
    font-weight: bold;
    color: #fc7e7e;
}

.delete-line-item:hover {
    color: #ff4a4a;
}

#save-receipt-settings-wrapper {
    position: relative;
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding: 11px 0 5px;
    border-top: 1px solid #3e3e3f;
}

#receipt-container {
    overflow-y: auto;
    font-family: 'VT323', Arial, Helvetica, sans-serif, Georgia, serif;
    width: 462px;
    height: calc(100% - 100px);
    margin: 0 auto;
    background: #e5e5e5;
    color: #000;
    padding: 20px 10px 20px 10px;
    word-break: break-all;
    max-height: fit-content;
}

.font-1 {
    font-size: 24px;
}

.font-2 {
    font-size: 48px;
}

.font-3 {
    font-size: 72px;
}

.font-4 {
    font-size: 96px;
}

.font-5 {
    font-size: 120px;
}

.font-6 {
    font-size: 144px;
}

.font-7 {
    font-size: 168px;
}

.font-8 {
    font-size: 192px;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.receipt-item, .receipt-item-details, #receipt-total-wrapper div {
    display: flex;
}

.transaction-item, .transaction-quantity, .total-label {
    margin-right: auto;
}
/* RECEIPT */


/*TEST*/
.check-box-wrapper {
    user-select: none;
    cursor: pointer;
	padding: 10px;
}

.check-box-wrapper span {
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}

.check-box-wrapper .check-box {
	position: relative;
    width: 18px;
    background: #ffffff;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #d1c9c9;
    transition: all .2s ease;
}

.check-box-wrapper .check-box svg {
	position: absolute;
	top: 4px;
	left: 3px;
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all .3s ease;
	transition-delay: .1s;
	transform: translate3d(0, 0, 0);
}

.check-box-wrapper .check-box-label {
	padding-left: 3px;
}

.check-box-wrapper:hover .check-box {
	border-color: #506EEC;
}

.checkbox-input:checked + .check-box-wrapper .check-box {
	background: #506EEC;
	border-color: #506EEC;
	animation: wave .4s ease;
}

.checkbox-input:checked + .check-box-wrapper .check-box svg {
	stroke-dashoffset: 0;
}

.checkbox-input:checked + .check-box-wrapper .check-box:before {
	transform: scale(3.5);
	opacity: 0;
	transition: all .6s ease;
}

@keyframes wave {
	50% {
		transform: scale(0.9);
	}
}
/*TEST*/