<div id="date-header">
    <span id="time-range">From {{start_time}} - {{end_time}} <span id="calendar-edit"><i class="far fa-edit"></i></span></span>
    <button class="graph-button" id="today-button" data-type="today">Today</button>
    <button class="graph-button" id="yesterday-button" data-type="yesterday">Yesterday</button>
</div>