{{#if transactions}}
    {{#if link_columns.quantity}}
        {{#if link_columns.price}}
            <div id="overview-header">
                <span id="time-range">From {{start_time}} - {{end_time}} <span id="calendar-edit"><i class="far fa-edit"></i></span></span>
                <button class="graph-button" id="today-button" data-type="today">Today</button>
                <button class="graph-button" id="yesterday-button" data-type="yesterday">Yesterday</button>
            </div>
            <div id="overview-container">
                <div id="overview-title">Payment Overview</div>
                <div id="overview-graph-wrapper">
                    <div id="overview-graph-container">
                        <div id="y-axis-title">Total</div>
                        <div id="overview-chart"></div>
                    </div>
                    <div id="x-axis-title">Date</div>
                </div>
            </div>
            <div id="overview-total-wrapper">

            </div>
        {{/if}}
    {{/if}}
{{else}}
    <div id="empty-overview-wrapper">
        <span id="empty-overview-icon"><i class="fas fa-tachometer-alt"></i></span>
        <div id="empty-container">
            {{#unless transactions}}
                <div>You have no Transactions!</div>
            {{/unless}}
            {{#unless link_columns.price}}
                {{#unless link_columns.cost}}
                    <div class="get-started-text">Before you can view overview report:</div>
                {{/unless}}
            {{/unless}}
            {{#if inventory}}
                {{#unless link_columns.price}}
                    <a id="price-link">Link your 'Price' Column!</a>
                {{/unless}}
                {{#unless link_columns.cost}}
                    <a id="cost-link">Link your 'Cost' Column!</a>
                {{/unless}}
            {{else}}
                <a href="/inventory/">Create an Inventory</a>
            {{/if}}
        </div>
    </div>
{{/if}}