<div id="overview-container">
    <div id="overview-title">Payment Overview</div>
    <div id="overview-graph-wrapper">
        <div id="overview-graph-container">
            <div id="y-axis-title">Total</div>
            <div id="overview-chart"></div>
        </div>
        <div id="x-axis-title">Date</div>
    </div>
</div>
<div id="overview-total-wrapper">

</div>