<div id="circle-chart-wrapper">
    <div class="pie-container">
        <h3 class="chart-title">Top 10 Products Sold</h3>
        <div id="quantity-chart"></div>
    </div>
    <div class="pie-container">
        <h3 class="chart-title">Top 10 Profitable Products</h3>
        <div id="profit-chart"></div>
    </div>
</div>