<div id="operation-popup-wrapper">
    <div class="operation-title">Create Store</div>
    <p class="operation-description">Create stores to separate inventory</p>
    <div class="operation-create-store-wrapper">
        <label for="store-name-input">Store Name</label>
        <div class="error"></div>
        <input id="store-name-input" />
        <button class="operation-submit add" id="create-store-submit">Create Store</button>
    </div>
</div>