{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whey2eZ</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'bundle/assets/whey2ez/whey2ez.ico' %}" />
</head>
<body>

    <div id="first-wrapper">
        <nav id="nav-wrapper">
            <a id="login-button" href="/login/">Login</a>
            <a id="register-button" href="/register/">Register</a>
        </nav>

        <div id="home-header">
        <h1 id="home-title">Whey2eZ</h1>
            <p id="home-description">Inventory Management System</p>
        </div>

        <div id="home-points">
            <div class="icon-wrapper">
                <div class="icon-point"><i class="fas fa-random"></i></div>
                <div class="icon-title">Flexible</div>
                <div class="icon-description">Have full control on customizing and managing inventory, users, and reports.</div>
            </div>
            <div class="icon-wrapper">
                <div class="icon-point"><i class="fas fa-puzzle-piece"></i></div>
                <div class="icon-title">Simple</div>
                <div class="icon-description">No more complex inventory systems. We keep it easy and simple.</div>
            </div>
            <div class="icon-wrapper">
                <div class="icon-point"><i class="fas fa-chart-area"></i></div>
                <div class="icon-title">Reliable</div>
                <div class="icon-description">Real-time tracking of purchases and inventory updates.</div>
            </div>
        </div>

    </div>

</body>
</html>