{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Whey2eZ: Login</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'bundle/assets/whey2ez/whey2ez.ico' %}" />
    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
    </script>
</head>
<body>

    <div id="home-wrapper">
        <div id="home-header">
            <h1 id="home-title">Whey2eZ</h1>
            <p id="home-description">Inventory Management System</p>
        </div>
    </div>

    <div class="inner-wrapper">
        <div id="login-container">
            <h2>Member Login</h2>
            {% csrf_token %}
            <div class="input-container">
                <label for="username">Username/Email</label>
                <input id="username" type="text" />
            </div>
            <div class="error">Incorrect username or password.</div>

            <div class="input-container">
                <label for="password">Password</label>
                <input id="password" type="password" />
            </div>

            <button id="login">Login</button>

            <div id="link-wrapper">
                <a id="forgot-password" href="/forgot_password">Forgot Password</a>
                <a id="register" href="/register">Register</a>
            </div>
        </div>
    </div>

</body>
</html>