{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>

    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
        globals.columns = {{columns|safe}};
        globals.link_columns = {{link_columns|safe}};
        globals.transactions = {{transactions|safe}};
        globals.date_range = '{{ date_range }}';
        globals.start_epoch = '{{ start_epoch }}';
        globals.end_epoch = '{{ end_epoch }}'
    </script>
</head>
<body>
    {% csrf_token %}
    <div id="flex-wrapper">
{#        Side NAV#}
        <div id="side-nav-bar-wrapper">
            <div id="nav-top-section">
                <a class="nav-icon" id="home-link"><i class="fas fa-home"></i></a>
            </div>

            <div id="nav-mid-section">
                <a class="nav-icon active" id="overview-link" href="/overview/"><i class="fas fa-tachometer-alt"></i></a>
                <a class="nav-icon" id="inventory-link" href="/inventory/"><i class="far fa-building"></i></a>
                <a class="nav-icon" id="store-link" href="/store/"><i class="fas fa-store"></i></a>
                <a class="nav-icon" id="transaction-link" href="/transaction/"><i class="fas fa-shopping-cart"></i></a>
                <a class="nav-icon" id="employee-link" href="/employee/"><i class="fas fa-male"></i></a>
            </div>

            <div id="nav-end-section">
                <a class="nav-icon" id="setting-link"><i class="fas fa-wrench"></i></a>
            </div>
        </div>

{#      Action side bar   #}
        <div id="side-bar-wrapper">
            <div id="side-bar-container">
                <div id="side-bar-title">Overview</div>
                <div class="inner-side-wrapper">
                    <div class="business-item">
                        <h4 class="establishment business-name active" data-type="main" data-id="{{business_id}}"><i class="fas fa-building"></i> {{business_name}}</h4>
                        <div class="store-wrapper">
                            <div class="store-container">
                                {% for key, val in stores.items %}
                                    <div class="establishment store-item" data-id="{{val.id}}">
                                        <div class="store-name"><i class="fas fa-store-alt"></i> {{val.name}}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#      Main Content#}
        <div id="main-content-wrapper">
            <div id="top-nav-wrapper">
                <div id="tab-wrapper">
                    <div class="tab active" id="overview-tab" data-wrapper="#overview-wrapper">Overview</div>
                    <div class="tab" id="sales-report-tab" data-wrapper="#sale-report-wrapper">Sales Report</div>
                    <div class="tab" id="product-report-tab" data-wrapper="#product-report-wrapper">Product Reports</div>
                </div>
                <div id="user-wrapper">
                    <div id="user-container">
                        <span id="bell-icon-button"><i class="far fa-bell"></i></span>
                        <span id="user-icon"><i class="fas fa-user-circle"></i></span> {{ name }}
                    </div>
                </div>
            </div>

            <div id="main-content-container">
                <div class="body-wrapper active" id="overview-wrapper">
                    {% if not transactions or not link_dict.price or not link_dict.cost %}
                        <div id="empty-overview-wrapper">
                            <span id="empty-overview-icon"><i class="fas fa-tachometer-alt"></i></span>
                            <div id="empty-container">
                                {% if not transactions %}
                                    <div>You have no Transactions!</div>
                                {% endif %}
                                {% if not link_dict.price or not link_dict.cost %}
                                    <div class="get-started-text">Before you can view overview report:</div>
                                {% endif %}
                                {% if not link_dict.price %}
                                    <a id="price-link">Link your 'Price' Column!</a>
                                {% endif %}
                                {% if not link_dict.cost %}
                                    <a id="cost-link">Link your 'Cost' Column!</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div id="overview-header">
                            <span id="time-range">From {{start_time}} - {{end_time}} <span id="calendar-edit"><i class="far fa-edit"></i></span></span>
                            <button class="graph-button active" id="today-button">Today</button>
                            <button class="graph-button" id="yesterday-button">Yesterday</button>
                        </div>
                        <div id="overview-container">
                            <div id="overview-title">Payment Overview</div>
                            <div id="overview-graph-wrapper">
                                <div id="overview-graph-container">
                                    <div id="y-axis-title">Total</div>
                                    <div id="overview-chart"></div>
                                </div>
                                <div id="x-axis-title">Date</div>
                            </div>
                        </div>
                        <div id="overview-total-wrapper">

                        </div>
                    {% endif %}
                </div>

                <div class="body-wrapper" id="sale-report-wrapper">

                </div>

                <div class="body-wrapper" id="product-report-wrapper">

                </div>
            </div>
        </div>
    </div>

    <div id="operation-overlay"></div>

    <script src="{% static 'library/google_charts/google_charts.js' %}" ></script>
</body>
</html>