{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whey2eZ: Register</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'bundle/assets/whey2ez/whey2ez.ico' %}" />
    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
    </script>

</head>
<body>

    <div id="home-wrapper">
        <div id="home-header">
            <h1 id="home-title">Whey2eZ</h1>
            <p id="home-description">Inventory Management System</p>
        </div>
    </div>

    <div class="inner-wrapper">
        <div id="register-container">
            <form autocomplete="off">
                <h2>Register</h2>
                {% csrf_token %}
                <div id="input-wrapper">
                    <div id="section-1">
                        <div class="input-container">
                            <label for="username">Username</label>
                            <input id="username" type="text" />
                        </div>
                        <div class="error username">Username</div>
                        <div class="input-container">
                            <label for="password">Password</label>
                            <input id="password" type="password" />
                        </div>
                        <div class="error password"></div>
                        <div class="input-container">
                            <label for="email">Email</label>
                            <input id="email" type="text" />
                        </div>
                        <div class="error email"></div>
                    </div>

                    <div id="section-2">
                        <div class="input-container">
                            <label for="first-name">First Name</label>
                            <input id="first-name" type="text" />
                        </div>
                        <div class="error first-name">Must enter a first name.</div>
                        <div class="input-container">
                            <label for="last-name">Last Name</label>
                            <input id="last-name" type="text" />
                        </div>
                        <div class="error last-name">Must enter a last name.</div>
                        <div class="input-container">
                            <label for="business-name">Business Name</label>
                            <input id="business-name" type="text" />
                        </div>
                        <div class="error business-name">Must enter a business name.</div>
                    </div>
                </div>
            </form>

            <button class="add" id="register">Register</button>
        </div>
    </div>

</body>
</html>