{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'bundle/assets/whey2ez/whey2ez.ico' %}" />
    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
        globals.date_range = '{{date_range}}';
        globals.start_point = {{start_point}};
        globals.settings = {{settings|safe}};
        globals.stores = {{stores|safe}};
    </script>
</head>
<body>
    {% csrf_token %}
    <a id="create-transaction-link" href="" target="_blank"></a>
    <div id="flex-wrapper">
{#        Side NAV#}
        <div id="side-nav-bar-wrapper">
            <div id="nav-top-section">
                <a class="nav-icon" id="home-link"><i class="fas fa-home"></i></a>
            </div>

            <div id="nav-mid-section">
                <a class="nav-icon" id="overview-link" href="/overview/"><i class="fas fa-tachometer-alt"></i></a>
                <a class="nav-icon" id="inventory-link" href="/inventory/"><i class="far fa-building"></i></a>
{#                <a class="nav-icon" id="store-link" href="/store/"><i class="fas fa-store"></i></a>#}
                <a class="nav-icon active" id="transaction-link" href="/transaction/"><i class="fas fa-shopping-cart"></i></a>
                <a class="nav-icon" id="employee-link" href="/employee/"><i class="fas fa-male"></i></a>
            </div>

            <div id="nav-end-section">
                <a class="nav-icon" id="setting-link"><i class="fas fa-wrench"></i></a>
            </div>
        </div>

{#      Action side bar   #}
        <div id="side-bar-wrapper">
            <div id="side-bar-container">
                <div id="side-bar-title">Transaction</div>
                <div class="store-wrapper">
                    <div class="store-container">

                    </div>
                </div>
            </div>
        </div>
{#      Main Content#}
        <div id="main-content-wrapper">
            <div id="top-nav-wrapper">
                <div id="tab-wrapper">
                    <div class="tab active" id="transaction-tab" data-wrapper="#transaction-wrapper">Transaction</div>
{#                    <div class="tab" id="discount-tab" data-wrapper="#discount-wrapper">Discount</div>#}
                    <div class="tab" id="receipt-tab" data-wrapper="#receipt-wrapper">Receipt</div>
                    <div class="tab" id="settings-tab" data-wrapper="#settings-wrapper">Setting</div>
                </div>
                <div id="user-wrapper">
                    <div id="user-container">
                        <span id="bell-icon-button"><i class="far fa-bell"></i></span>
                        <span id="user-icon"><i class="fas fa-user-circle"></i></span> {{ name }}
                    </div>
                </div>
            </div>

            <div id="main-content-container">
                <div class="body-wrapper active" id="transaction-wrapper">

                </div>

                <div class="body-wrapper" id="discount-wrapper">

                </div>

                <div class="body-wrapper" id="receipt-wrapper">

                </div>

                <div class="body-wrapper" id="settings-wrapper">

                </div>
            </div>
        </div>
    </div>

    <div id="operation-overlay"></div>
    <%= require('html-loader!./library/calendar/calendar.html') %>
</body>
</html>