<div id="time-range">
    {{#ifCond start_time '==' '*'}}
        All <span id="calendar-edit"><i class="far fa-edit"></i></span>
    {{else}}
        From {{start_time}} - {{end_time}}<span id="calendar-edit"><i class="far fa-edit"></i></span>
    {{/ifCond}}
</div>
<div id="empty-transaction-wrapper">
    <span id="empty-transaction-icon"><i class="fas fa-shopping-cart"></i></span>
    <div id="empty-container">
        {{#unless transactions}}
            <div>You have no Transactions!</div>
        {{/unless}}
    </div>
</div>